body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
}

.card {
  background: #222;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}
